<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Status" icon-off="ion-compose" icon-on="ion-compose" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Waiting" icon-off="ion-clock" icon-on="ion-clock" href="#/tab/wait">
    <ion-nav-view name="tab-wait"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Go" icon-off="ion-ios-play" icon-on="ion-ios-play" href="#/tab/go">
    <ion-nav-view name="tab-go"></ion-nav-view>
  </ion-tab>


</ion-tabs>
